body {
    background: linear-gradient(135deg, #fdf5ed, #e2f0ff);
  color: #FFFFFF;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: #1b2a41;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
  background-color: #1b2a41;
  padding: 1rem;
  border-radius: 10px;
}

label {
  font-weight: bold;
  display: block;

}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #3E3E3E;
  color: white;
}

button {
  background-color: #1b2a41;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #fdf5ed;
  color: #1b2a41;
}

a {
  display: inline-block;
  margin-right: 1rem;
  color: #1b2a41;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin-top: 20px;
  color: #1b2a41;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color:#1b2a41;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 5px;
}

.back {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0d2c40;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #0d2c40;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
   

  }
  
  .back:hover {
    background-color: #0d2c40;
    color: #fff;
    transform: scale(1.05);
  }