<!-- Multimedia Design and Programming
-- Ottertune
-- Abstract: Main landing page where users can search for songs, 
--            view their liked songs, playlists, and review recent search history.
-- Vincent Palma
-- May 13th 2025
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ottertune</title>
    {{ bootstrap.load_css() }}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='indexPage.css') }}"
    />
  </head>
  <body>
    <div class="flex">
      <img src="/static/ottertune.png" class="logo" width="100px" />
      <h1>Ottertune</h1>
    </div>
    <div id="nav">{% include '/partials/nav.html' %}</div>
    <!-- Search form for song queries -->
    <form action="/searchResults" method="get">
      <label>
        Search for a song:
        <input type="text" name="track" required />
        <input type="hidden" name="from" value="search" />
      </label>
      <button>Search</button>
    </form>

    <!-- Links to liked songs and playlists pages -->
    <a href="{{ url_for('checkLikes', userId=userID) }}">View My Liked Songs</a>
    <a href="{{ url_for('playlists') }}">View My Playlists</a>

    <!-- Janniel Tan -->
     <!-- Display user's recent search history if available -->
    <h3>Search History:</h3>
    {% if search_history %}
    <ul>
      {% for entry in search_history %}
      <li>{{ entry[0] }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <a href="/logout" class="back">Log out</a>
  </body>
</html>
