<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ottertune</title>
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='indexPage.css') }}">
  
</head>
<body>

  <h1>Ottertune</h1>
  <div id = "nav">
  {% include '/partials/nav.html' %}
  </div>
  <form action="/searchResults" method="get">
    <label>
      Search for a song:
      <input type="text" name="track" required />
      <input type="hidden" name="from" value="search" />
    </label>
    <button>Search</button>
  </form>
  

  <a href="{{ url_for('checkLikes', userId=userID) }}">View My Liked Songs</a>
  <a href="{{ url_for('playlists') }}">View My Playlists</a>

  <h3>Search History:</h3>
  {% if search_history %}
    <ul>
      {% for entry in search_history %}
        <li>{{ entry[0] }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <a href="/logout" class="back">Log out</a>

</body>
</html>
