<!-- Multimedia Design and Programming
-- Ottertune
-- Abstract: User can also check their own profile
-- Vincent Palma
-- May 13th 2025
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ottertune</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Profile</h1>
    {% include '/partials/nav.html' %}
  </body>
</html>
