<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ottertune</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <h1>Ottertune</h1>
    <h2>Results for: {{ track }}</h2>

    {% for track in results %}

    <div>
      <img src="{{ track.album.images[0].url }}" width="250" />
      <p><strong>{{ track.name }}</strong> by {{ track.artists[0].name }}</p>
      <a href="{{ track.external_urls.spotify }}" target="_blank"
        >Listen on Spotify</a>
      <a href = "{{ url_for('song_info', track_id=track.id) }}" target = "_blank"> Get Info</a>
     
      <form action ="{{url_for ('likedSongs') }}" method = "POST">
        <input type ="hidden" name = "userId" value = "{{userId}}">
        <input type ="hidden" name = "songID" value = "{{track.id}}">
        <input type ="hidden" name = "songURL" value = "{{track.external_urls.spotify}}">
        <!-- the song that the user searched -->
        <input type="hidden" name="trackQuery" value="{{ track_name }}"> 
        <button type="submit" id = "likeButton">❤️</button>
        {% if request.args.get('liked') == track.id %}
        <p>{{ request.args.get('message') }}</p>
      {% endif %}

      </form>

    </div>

    <br />
    <br />

    {% endfor %}
  </body>
</html>
